<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="pt-BR">
  <info>
    <title type="text">Leitor de telas Orca</title>
    <title type="link">Introdução ao Leitor de tela <app>Orca</app></title>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 — Creative Commons</p>
    </license>

    <desc>O Orca é um leitor de tela gratuito, de código aberto, flexível e extensível que fornece acesso à área de trabalho gráfica via fala e braille atualizável.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leônidas Araújo</mal:name>
      <mal:email>leorusvellt@hotmail.com</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" src="figures/orca-logo.png" its:translate="no">
      <span its:translate="yes">Logo do <app>Orca</app></span>
    </media> <app>Orca</app> Leitor de tela</title>
  <note style="important">
    <title>Antes de Você Começar</title>
    <p>Se você ainda não está familiarizado com os comandos de navegação fornecidos pelo seu ambiente de área de trabalho, é recomendável ler a sua documentação primeiro.</p>
  </note>
  <section id="getting_started" style="2column">
    <title>Primeiros Passos</title>
  </section>
  <section id="reading" style="2column">
    <title>Lendo documentos e páginas da web</title>
  </section>
  <section id="reviewing" style="2column">
    <title>Revisando e Interagindo com o conteúdo da tela</title>
  </section>
  <section id="quick_reference" style="2column">
    <title>Guia Rápido</title>
  </section>
</page>
