<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_text_attributes" xml:lang="fr">
  <info>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_web"/>
    <link type="seealso" xref="howto_text_attributes"/>
    <title type="sort">8. Attributs de texte</title>
    <title type="link">Attributs de texte</title>
    <desc>Configurer les formats prononcés</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Paternité - Partage dans les Mêmes Conditions 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Charles Monzat</mal:name>
      <mal:email>charles.monzat@free.fr</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>
  <title>Préférence des attributs de texte</title>
  <p>Le terme « attributs de texte » se rapporte à la police, au style, à l’alignement et aux autres types de mise en forme associés à un caractère ou à une série de caractères. L’onglet <gui>Attributs de texte</gui> d’<app>Orca</app> vous permet de personnaliser les attributs de texte lus par <app>Orca</app>, ainsi que l’ordre de la lecture, et ceux qui sont indiqués en braille.</p>
  <section id="table">
    <title>Tableau des attributs de texte</title>
    <p>Le tableau des attributs de texte est l’emplacement où vous spécifiez les attributs qui sont prononcés ou pas et dans quelles conditions. Chaque ligne est constituée de quatre colonnes.</p>
    <list>
      <item>
        <p><gui>Nom d’attribut</gui> : le nom de l’attribut de texte.</p>
      </item>
      <item>
        <p><gui>À lire</gui> : cochez cette case si vous souhaitez que <app>Orca</app> prononce cet attribut quand vous appuyez sur <keyseq><key>Touche de modification d’Orca</key><key>F</key></keyseq>.</p>
      </item>
      <item>
        <p><gui>Marquer en braille</gui> : cochez cette case si vous souhaitez que <app>Orca</app> « souligne » cet attribut sur l’afficheur braille.</p>
      </item>
      <item>
        <p><gui>Prononcé sauf si</gui> : ce champ modifiable vous permet de spécifier quand un attribut activé est sans intérêt.</p>
        <p>Par exemple, l’attribut de texte « soulignement » possède la valeur « aucun » par défaut. Dans ce cas <app>Orca</app> vous informe de cet attribut de texte uniquement si celui-ci est réellement souligné. Si vous souhaitez que cet attribut soit lu, que le texte soit souligné ou pas, la colonne <gui>Prononcé sauf si</gui> doit être vide pour l’attribut soulignement. De plus, vérifiez que la colonne <gui>À lire</gui> pour le soulignement est bien cochée.</p>
      </item>
    </list>
  </section>
  <section id="reset">
     <title>Annulation des modifications</title>
     <p>Sous la liste des attributs de texte, il y a un bouton <gui>Réinitialiser</gui> (<keyseq><key>Alt</key><key>R</key></keyseq>) qui restaure les valeurs du tableau à celles qui étaient en place à l’ouverture de la boîte de dialogue.</p>
  </section>
  <section id="rearranging">
     <title>Changement de l’ordre de lecture</title>
     <p>Quand vous affichez l’onglet des <gui>attributs de texte</gui> la première fois, tous les attributs activés sont placés en haut du tableau dans l’ordre de la lecture. Quatre boutons peuvent être utilisés pour modifier l’ordre de lecture.</p>
    <list>
      <item>
        <p><gui>Déplacer tout en haut</gui> (<keyseq><key>Alt</key><key>T</key></keyseq>) : déplace l’attribut sélectionné en tête de liste.</p>
      </item>
      <item>
        <p><gui>Déplacer vers le haut</gui> (<keyseq><key>Alt</key><key>H</key></keyseq>) : monte l’attribut sélectionné d’une ligne.</p>
      </item>
      <item>
        <p><gui>Déplacer vers le bas</gui> (<keyseq><key>Alt</key><key>B</key></keyseq>) : descend l’attribut sélectionné d’une ligne.</p>
      </item>
      <item>
        <p><gui>Déplacer tout en bas</gui> (<keyseq><key>Alt</key><key>S</key></keyseq>) : déplace l’attribut sélectionné en bas de la liste.</p>
      </item>
    </list>
  </section>
  <section id="braille_indicator">
    <title>Option de configuration du format « Soulignement » en braille</title>
    <p>En dessous des boutons de déplacement se trouve le groupement de boutons radio <gui>Indicateur de braille</gui>. Vous pouvez sélectionner ici la ou les cellules à utiliser pour indiquer si le texte possède l’un des attributs spécifiés.</p>
    <list>
      <item>
        <p><gui>Aucun</gui> : ne souligne pas les attributs de texte en braille (par défaut)</p>
      </item>
      <item>
        <p><gui>Point 7</gui> : souligne les attributs de texte avec le point 7 uniquement</p>
      </item>
      <item>
        <p><gui>Point 8</gui> : souligne les attributs de texte avec le point 8 uniquement</p>
      </item>
      <item>
        <p><gui>Points 7 et 8</gui> : souligne les attributs de texte avec les deux points 7 et 8</p>
      </item>
    </list>
  </section>
</page>
