<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_live_regions" xml:lang="de">
  <info>
    <link type="next" xref="commands_chat"/>
    <link type="guide" xref="commands#accessing_dynamic_information"/>
    <link type="seealso" xref="howto_live_regions"/>
    <title type="sort">1. Dynamische Bereiche</title>
    <title type="link">Dynamische Bereiche</title>
    <desc>Befehle zum Zugriff auf dynamische Bereiche im Internet</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Befehle für den dynamischen Bereich</title>
  <p>Die folgenden Befehle können benutzt werden, um einen Zugriff auf dynamisch-aktualisierten Inhalt auf Webseiten zu ermöglichen, die durch ARIA verfügbar gemacht wurden.</p>
  <list>
    <item>
      <p>Dynamische Bereiche überwachen: <keyseq><key>Orca-Zusatztaste</key><key>Umschalt</key><key>Rückwärtsschrägstrich</key></keyseq></p>
    </item>
    <item>
      <p>Höflichkeitsstufe des dynamischen Bereiches erhöhen: <key>Rückwärtsschrägstrich</key></p>
    </item>
    <item>
      <p>Die voreingestellte Höflichkeitsstufe ausschalten: <keyseq><key>Umschalt</key><key>Rückwärtsschrägstrich</key></keyseq></p>
    </item>
    <item>
      <p>Zum nächsten/vorherigen dynamischen Bereich springen: <keyseq><key>D</key></keyseq>/<keyseq><key>Umschalt</key><key>D</key></keyseq></p>
    </item>
    <item>
      <p>Zum letzten dynamischen Bereich springen, der eine Meldung erzeugte: <keyseq><key>Y</key></keyseq></p>
    </item>
    <item>
      <p>Die Meldungen dynamischer Bereiche erneut betrachten: <keyseq><key>Orca-Zusatztaste</key><key>F1</key></keyseq> bis <key>F9</key></p>
    </item>
</list>
</page>
