<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_forms" xml:lang="de">
  <info>
    <link type="guide" xref="index#reading"/>
     <link type="next" xref="howto_live_regions"/>
    <title type="sort">5. Ausfüllen von Formularen</title>
    <desc>Zugriff auf im Dokument eingebettete Widgets</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Ausfüllen von Formularen</title>
  <p>Wenn Sie mit Webseiten und anderen Dokumenten mittels <app>Orca</app> interagieren, interagieren Sie mit dem Dokument selbst; keiner gepufferten Kopie davon. <app>Orca</app>s Stöbern- und Fokussieren-Modi lassen Sie zwischen dem Lesen und Ausfüllen von Dokumenten wechseln.</p>
  <section id="navigating_amongst_form_fields">
    <title>So navigieren Sie in Formularen</title>
    <p>Um sich zwischen Formularfeldern zu bewegen, haben Sie folgende Möglichkeiten:</p>
    <list>
      <item>
        <p>Verwenden Sie die <key>Tabulatortaste</key> und <keyseq><key>Umschalt</key><key>Tabulator</key></keyseq>, um zwischen fokussierbaren Objekten beliebigen Typs zu navigieren.</p>
      </item>
      <item>
        <p>Verwenden Sie <app>Orca</app>s <link xref="commands_structural_navigation#forms">Strukturennavigation-Befehle für Formulare</link>.</p>
      </item>
      <item>
        <p>Abhängig vom Formular und der Anwendung können Sie möglicherweise auch die Pfeiltasten benutzen, um ein Formularfeld anzusteuern.</p>
      </item>
   </list>
   <note style="tip">
     <p>Damit Sie <app>Orca</app>-Befehle für die Caret- oder Strukturennavigation verwenden können, um ein Formularfeld anzusteuern, müssen Sie sich im Stöbern-Modus befinden. Falls Sie sich im Fokussieren-Modus befinden, können Sie in den Stöbern-Modus wechseln, indem Sie <keyseq><key>Orca-Zusatztaste</key><key>A</key></keyseq> drücken.</p>
   </note>
  </section>
  <section id="exiting_form_fields">
    <title>So verlassen Sie Formularfelder</title>
    <p>Sie haben mehrere Möglichkeiten ein Eingabefeld zu verlassen:</p>
    <list>
      <item>
        <p>Verwenden Sie <key>Tabulatortaste</key>/<keyseq><key>Umschalt</key><key>Tabulator</key></keyseq>, um das derzeit fokussierte Eingabefeld zu verlassen und zum nächsten/vorhergehenden fokussierbaren Objekt beliebigen Typs zu navigieren.</p>
      </item>
      <item>
        <p>Verwenden Sie <app>Orca</app>s <link xref="commands_structural_navigation#forms">Strukturennavigation-Befehle für Formulare</link>, um sich zum nächsten oder vorhergehenden Formularfeld zu bewegen.</p>
      </item>
      <item>
        <p>Abhängig vom Formular und der Anwendung können Sie möglicherweise auch die Pfeiltasten benutzen, um ein Formularfeld zu verlassen.</p>
      </item>
    </list>
   <note style="tip">
     <p>Damit Sie <app>Orca</app>-Befehle für die Caret- oder Strukturennavigation verwenden können, um ein Formularfeld zu verlassen, müssen Sie sich im Stöbern-Modus befinden. Falls Sie sich im Fokussieren-Modus befinden, können Sie in den Stöbern-Modus wechseln, indem Sie <keyseq><key>Orca-Zusatztaste</key><key>A</key></keyseq> drücken.</p>
   </note>
  </section>
</page>
